body {
    font-family: "Poiret One", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
    height: 100vh;
    margin: 0;
    gap: 15px;
    font-size: 20px;
    overflow: auto;
}

h1 {
    text-align: center;
    font-family: "Righteous", sans-serif;
}

button {
    font-family: "Poiret One", sans-serif;
    font-size: 20px;
    color: antiquewhite;
    padding: 5px;
    width: 130px;
    border: none;
    border-radius: 10px;
    background-color: rgba(205, 133, 63, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(70px);
    transition: transform 0.2s ease, background-color 0.2s ease;
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom, rgba(205, 133, 63, 0.8) , rgba(131, 173, 68, 0.4));
    backdrop-filter: blur(80px);
}

button:active {
    transform: scale(0.95);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 300px;
    box-shadow: 0 0 20px rgba(205, 133, 63, 0.2);
    backdrop-filter: blur(70px);
    padding: 25px;
    border-radius: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-group input {
    padding: 10px;
    font-size: 20px;
    width: 230px;
    border: none;
    border-bottom: 2px solid rgba(205, 133, 63, 0.3);
    border-radius: 5px;
    outline: none;
    background: none;
    z-index: 1;
    font-family: "Poiret One", sans-serif;
}

.form-group input.error {
    border-color: red;
    color: red;
}

.form-group input.error:focus {
    border-color: red;
    color: red;
}

.form-group label.error {
    color: red;
}

.form-group input.error:focus + label,
.form-group input:not(:placeholder-shown) + label {
    color: red;
}

.form-group input:focus {
    border-color: olive;
}

.form-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
    transition: all 0.3s ease;
    pointer-events: none;
    padding: 0 5px;
    color: olive;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
    top: -17px;
    left: 10px;
    font-size: 16px;
    color: olive;
    font-weight: bold;
}

a {
    color: olive;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    padding: 0;
    margin: 0;
}

.error-container {
    position: fixed;
    top: 10px;
    right: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 500px;
}

.errors {
    background-color: #f44336;
    color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    display: none;
}

.errors.show {
    display: block;
    opacity: 1;
}

.checkbox-container {
    margin-left: 25px;
    margin-right: auto;
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    border: 1px solid olive;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin: 0;
    background-color: antiquewhite;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="checkbox"]:checked {
    background-color: olive;
    border-color: olive;
    margin: 0;
}

input[type="checkbox"]:checked::after {
    content: '\2713';
    color: antiquewhite;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="checkbox"]:hover {
    border-color: darkolivegreen;
}

.checkbox-container label {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to right, rgba(205, 133, 63, 0.3) , rgba(131, 173, 68, 0.4));
    box-shadow: 0 5px 20px rgba(205, 133, 63, 0.2);
    backdrop-filter: blur(70px);
    z-index: 1;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: #f7b425;
    font-size: 15px;
    text-shadow:
            -0.1px -0.1px 0 white,
            0.1px -0.1px 0 white,
            -0.1px  0.1px 0 white,
            0.1px  0.1px 0 white;
}

.logo img {
    width: 50px;
    height: 50px;
    padding: 0 5px 0 15px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 20px;
    font-weight: bolder;
}

.nav:hover {
    text-decoration: none;
    background-color: rgba(205, 133, 63, 0.3);
    color: wheat;
    cursor: pointer;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
    width: 350px;
    position: absolute;
    top: 70px;
    left: 15px;
}

.search-bar button {
    font-size: 15px;
    width: 60px;
}

.pet-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    position: absolute;
    top: 135px;
    padding-bottom: 30px;
}

.pet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 345px;
    height: 355px;
    box-shadow: 0 0 20px rgba(205, 133, 63, 0.2);
    backdrop-filter: blur(70px);
    border-radius: 15px;
    overflow: hidden;
}

.pet-card img {
    width: 100%;
    height: 60%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.details {
    width: 100%;
    height: 80px;
    position: absolute;
    top: 225px;
    left: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 5px;
    margin: auto;
}

.pet-card button {
    position: absolute;
    bottom: 10px;
    border-radius: 50px;
    width: 110px;
}

span {
    color: peru;
    font-weight: bolder;
}

footer {
    margin: auto auto 20px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.profile-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 400px;
    gap: 10px;
    box-shadow: 0 0 20px rgba(205, 133, 63, 0.2);
    backdrop-filter: blur(70px);
    border-radius: 15px;
    overflow: hidden;
}

.profile-image img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.profile-image button {
    margin: auto auto 15px;
}

.profile-details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 390px;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.change {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    box-shadow: 0 0 20px rgba(205, 133, 63, 0.2);
    backdrop-filter: blur(70px);
    border-radius: 15px;
    padding: 20px;
    gap: 10px;
}

.profile-container button {
    width: 200px;
    border-radius: 30px;
}

.change .form-group {
    margin-top: 12px;
    display: none;
}